.image-slider {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px;
  position: relative; 
}

.image-slider .slick-dots {
  position: relative; 
  bottom: 10px; 
  left: 0; 
  right: 0;
  margin: auto;
}

.image-slider img {
  max-width: 110%;
  height: auto;
  margin: auto;
  border-color: rgb(247, 8, 8);
  border-radius: 10px;
  display: block;
}
