.image-slider {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
  position: relative; /* Resimlerin üstünde okları konumlandırmak için */
}

.image-slider .slick-dots {
  position: absolute; 
  bottom: 10px; /* İstediğiniz pozisyona göre ayarlayın */
  left: 0; /* Sol tarafta olmasını istiyorsanız left: 0; sağ tarafta olmasını istiyorsanız right: 0; olarak ayarlayın */
  right: 0;
  margin: auto;
}

.image-slider img {
  max-width: 90%;
  height: auto;
  margin: auto;
  border-color: black;
  border-radius: 10px;
  display: block;
}
